<p>
  <mat-toolbar color="primary">
    <span class="example-spacer"></span>

    <button mat-icon-button routerLink="/dashboard/greetings">
      <mat-icon class="custom-heart">heart</mat-icon>
    </button>

    <button mat-icon-button routerLink="/dashboard">
      <mat-icon class="custom-bunny">bunny</mat-icon>
    </button>

    <button mat-icon-button routerLink="/dashboard/reports">
      <mat-icon class="custom-reports">papers</mat-icon>
    </button>

    <span class="example-spacer"></span>

    <button mat-icon-button  routerLink="logout">
      <mat-icon class="custom-out">out</mat-icon>
    </button>
  </mat-toolbar>
</p>
