/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: rgb(74, 74, 74);
  background: linear-gradient(
    0deg,
    rgba(74, 74, 74, 1) 2%,
    rgba(45, 39, 39, 1) 36%
  );
}
table {
  width: 100%;
}
